//GAME PAGE////////////////////////////
#gamePage {
    flex-direction: column;
    margin-top: 50px; //temp override
  
    article {
      @include flexCollapse($smallWidth);
      padding: 2rem 0rem;
  
      img {
        width: 100%;
        @media only screen and (min-width: $smallWidth) {
          width: 20rem;
        }
        //align-self: center;
      }
  
      section {
        padding: 1em 2em;
      }
    }
  }