/* ====General==== */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Raleway, serif;
    font-size: large;
    margin-bottom: 0px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: dodgerblue;
    text-decoration: none;
}

.pipeRight {
    border-right: 2px solid black;
}

.pipeRight-white {
    border-right: 2px solid white;
}

/* ====Navbar==== */
.navbarCustom {
    padding: 0;
    min-height: 60px;
}

.navName {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
}

.nav-link {
    color: black;
    line-height: 60px;
}

.nav-link:hover {
    color: white;
    background-color: black;
}

/* ====Footer==== */
.footer {
    background-color: black;
    /* background-color: darkslateblue; */
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
}

.footer a {
    text-decoration: underline;
    color: white;
}

/* ====Responsive Adjustment=== */

@media only screen and (max-width: 992px) {
    .nav-link {
        line-height: inherit;
    }
}

@media only screen and (max-width: 768px) {
    .pipeRight-white {
        border-right: none;
    }

    .navName {
        font-size: large;
    }

    .nav-link {
        font-size: medium;
    }
}