@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

//VARIABLES & MIXINS///////////////////
$footerHeight: 5rem;
$footerHeightWrapped: 10rem;
$largeWidth: 1200px;
$mediumWidth: 992px;
$smallWidth: 768px;
$accentColor: #1480AE;

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin flexCollapse($collapseWidth) {
  display: flex;
  flex-direction: column-reverse;
  @media only screen and (min-width: $collapseWidth) and (orientation: landscape){
    flex-direction: row;
  }
}

@import "fonts";
@import "universal";

@import "navbar";
@import "content";
@import "footer";

@import "toc";
@import "landing";
@import "games";
@import "writing";

//temp phone font hack
:root {
  @media only screen and (max-width: $smallWidth) {
    font-size: 2em;
  }
}
