//@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;900&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

//VARIABLES & MIXINS///////////////////
$footerHeight: 5rem;
$footerHeightWrapped: 10rem;
$largeWidth: 1200px;
$mediumWidth: 992px;
$smallWidth: 768px;
$accentColor: #1480AE;

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin accentFont {
  font-family: Inter, sans-serif;
  font-weight: 300;
}

@mixin bodyFont {
  font-family: "Libre Baskerville", sans-serif;
  font-weight: 400;
  text-align: justify;
  line-height: 1.4em;
}

@mixin headerFont {
  @include reset;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

@mixin nameFont {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
}

@mixin flexCollapse($collapseWidth) {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: $collapseWidth) {
    flex-direction: row;
  }
}

//UNIVERSAL STYLES/////////////////////
* {
  box-sizing: border-box;
}

body {
  @include reset;
  @include bodyFont;
  font-size: 1.0rem;
}

#pageContainer {
  position: absolute;
  min-height: 100%;
  width: 100%;
  padding-bottom: $footerHeightWrapped + 1rem;
  @media only screen and (min-width: $mediumWidth) {
    padding-bottom: $footerHeight;
  }
}

h1, h2 {
  @include headerFont;
}

a {
  color: inherit;
}

.imgContainer {
  margin: auto;
  padding: 0.5rem;
  img {
    width: 100%;
  }
}

.caption {
  @include reset();
  font-style: italic;
  text-align: right;
}

//NAVBAR///////////////////////////////
nav {
  //background-color: aqua;
  display: flex;
  padding: 0 50px;

  a {
    padding: 20px 10px;
    text-decoration: none;
  }
}

.home {
  display: block;
  @include nameFont;
}

.navItems {
  display: flex;
  vertical-align: bottom;
}

//PAGE CONTENT/////////////////////////
.mainContainer {
  display: flex;
  justify-content: center;
  //background-color: bisque;
  /*  @media only screen and (min-width: $smallWidth) {
      margin-top: 100px;
    }*/
}

main {
  width: 90%;
  a {
    font-style: italic;
    text-transform: uppercase;
  }
  @include flexCollapse($smallWidth);
  @media only screen and (min-width: $smallWidth) {
    width: ($smallWidth - 48);
    margin-top: 4rem;
  }
  @media only screen and (min-width: $mediumWidth) {
    width: ($mediumWidth - 32);
  }
  @media only screen and (min-width: $largeWidth) {
    width: 1000px;
  }

  //background-color: purple;
}

//FOOTER///////////////////////////////
footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  height: $footerHeightWrapped;
  padding: 0 7.5vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include accentFont();
  .copyright, .email, .linkedin {
    width: 100%;
    padding: 0.25em 2rem;
  }

  @media only screen and (min-width: $mediumWidth) {
    height: $footerHeight;
    flex-direction: row;
    .copyright {
      width: 100%;
    }
    .email {
      width: auto;
      text-align: right;
      border-right: 2px solid white;
    }
    .linkedin {
      width: auto;
    }
  }
}

//LANDING PAGE/////////////////////////
#landingPage {
  @media only screen and (min-width: $smallWidth) {
    justify-content: space-between;
  }

  > * {
    width: 100%;
    @media only screen and (min-width: $smallWidth) {
      width: 47.5%;
    }
  }

  section {
    //background-color: aquamarine;

    h1 {
      line-height: 1.1em;
      font-size: 3rem;
      text-align: right;
      margin: 1rem 0rem;
    }

    p {
      text-indent: 2em;
    }
  }

  .imgContainer {
    width: 400px;
  }
}

//GAME PAGE////////////////////////////
#gamePage {
  flex-direction: column;
  margin-top: 50px; //temp override

  article {
    @include flexCollapse($smallWidth);
    border: 2px solid $accentColor;
    margin-bottom: 2rem;

    img {
      width: 100%;
      @media only screen and (min-width: $smallWidth) {
        width: 20rem;
      }
      align-self: center;
    }

    section {
      padding: 1em 2em;
    }
  }
}