@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;900&family=Raleway&display=swap");

$footerHeight: 4rem;
$footerHeightWrapped: 10rem;
$largeWidth: 1200px;
$mediumWidth: 992px;
$smallWidth: 768px;

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin mainFont {
  font-family: Raleway, sans-serif;
}

@mixin headerFont {
  font-family: "Playfair Display", serif;
  font-weight: 900;
}

@mixin nameFont {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

body {
  @include reset;
  @include mainFont;
  font-size: x-large;
}

#pageContainer {
  position: absolute;
  min-height: 100%;
  width: 100%;
  padding-bottom: $footerHeightWrapped;
  @media only screen and (min-width: $smallWidth) {
    padding-bottom: $footerHeight;
  }
}

nav {
  background-color: aqua;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media only screen and (min-width: $smallWidth) {
    margin-top: 100px;
  }
}

h1 {
  @include headerFont;
}

#landingPage {
  @mixin widthRespond {
    width: 90%;
    @media only screen and (min-width: $smallWidth) {
      width: ($smallWidth - 48) / 2;
    }
    @media only screen and (min-width: $mediumWidth) {
      width: ($mediumWidth - 32) / 2;
    }
    @media only screen and (min-width: $largeWidth) {
      width: ($largeWidth - 60) / 2;
    }
  }
  section {
    @include widthRespond;
    background-color: aquamarine;
    padding: 1rem;
  }
  img {
    @include widthRespond;
    align-self: center;
    padding: 0.5rem;
  }
}

footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  height: $footerHeightWrapped;
  @media only screen and (min-width: $smallWidth) {
    height: $footerHeight;
  }
}